* {
    margin: 0;
    font-family: sans-serif;
    font-family: "Fredoka", sans-serif;
     font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

h1 {
    font-weight: 600;
    font-size: 28px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(112, 45, 175);
    box-sizing: border-box;
}

.main__container {
    background-color: #fff;
    width: 500px;
    padding: 10px 20px;
    border-radius: 20px;
}

.password-generator-form {
    display: flex;
    flex-direction: column;
    margin: 30px 0;
    font-size: 20px;

    & div {
        padding: 8px 0;
    }
}

.password-generator-form h2 {
    color: rgb(112, 45, 175);
    font-size: 45px;
    margin-bottom: 30px;
}

#number-of-characters {
    width: 40px;
}

#generate-password {
    font-size: 20px;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #000;
    &:hover{
        transform: scale(1.02);
    }
}

input {
    width: 20px;
    height: 20px;
}

#symbols:checked {
    color: red;
}
